@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/**Texto animado**/

.texts {
    height     : 90px;
    line-height: 90px;
    overflow   : hidden;
}

.texts li {
    position   : relative;
    top        : 0;
    font-size  : 30px;
    font-weight: bold;
    color      : #0ef;
    animation  : slide 12s steps(3) infinite, colorful 6s infinite;
}

@keyframes slide {
    100% {
        top: -270px;
    }
}

@keyframes colorful {
    100% {
        filter: hue-rotate(360deg);
    }
}

.texts li span {
    position: relative;
}

/*.texts li span::before {
    content    : '';
    position   : absolute;
    left       : 0;
    width      : 400px;
    height     : 80px;
    border-left: 2px solid #0ef;
    animation  : typing 3.5s steps(24) infinite alternate;
}

@keyframes typing {
    100% {
        left  : 100%;
        margin: 0 -15px 0 15px;
    }
}*/


@media screen and (max-width:400px) {
    .texts li {
        font-size: 25px;
    }
}

/** Upload **/

.top {
    display: none;
}

.bi-chevron-double-up {
    color        : whitesmoke;
    font-size    : 1rem;
    font-weight  : 700;
    background   : rgb(58, 111, 180);
    text-align   : center;
    right        : 3%;
    padding      : .8rem;
    border-radius: .3rem;
    width        : 2.5rem;
    height       : 2.5rem;
    line-height  : .5;
    position     : fixed;
    bottom       : 5rem;
    transition   : all .5s ease;
    animation    : upload 3s infinite alternate;
    cursor       : pointer;
    z-index      : 10;
}

.bi-chevron-double-up:hover {
    background: gray;
}

@keyframes upload {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}